#map-container {
    width: 1250px;
    height: 700px;
}

#title {  
    width: 1250px;  
    height: 60px;  
    background-color: #96ee89;
    line-height: 0px;  
    text-align: center;  
    border: solid #08542f;
    border-radius: 25px;
    box-sizing: border-box;
} 

.states {
    stroke: #96ee89;
    fill: #08542f;
    stroke-width: 1px;
}

.map {
    border-style: solid;
    border-radius: 25px;
    background-color: #96ee89;
}

h1 {
    font-size: 45px;
    word-spacing: .75em;
}